@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

@if (home.Children.Any())
{
    foreach (var childPage in home.Children)
    {
        <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
            <a href="@childPage.Url">@childPage.Name</a>
        </li>
    }
}

