@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SiteLayout.cshtml";
}

<h2>Nulla neque dolor sagittis eget</h2>
@Umbraco.Field("bodyText")
@Umbraco.Field("ingress")

@*<img src="~/Content/Images/sphere.jpg" style="height: 100%; width: 100%; object-fit: contain" />*@
@if (CurrentPage.HasValue("image"))
{
	var dynamicMediaItem = Umbraco.Media(CurrentPage.image);
	<img src="@dynamicMediaItem.umbracoFile" alt="@dynamicMediaItem.Name" style="height: 100%; width: 100%; object-fit: contain"/>
}
