@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>*@

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteLayout.cshtml";
}

<h2>Home</h2>
@Umbraco.Field("bodyText")
@Umbraco.Field("ingress")

<img src="~/Content/Images/sphere.jpg" style="height: 100%; width: 100%; object-fit: contain" />