<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1057" key="d05f8cb3-df46-4465-ae18-1a416171320d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-04-12T15:25:42" updateDate="2017-04-12T15:26:08" nodeName="Home" urlName="home" path="-1,1057" isDoc="" nodeType="1047" creatorName="Michel Miladinovic" writerName="Michel Miladinovic" writerID="0" template="1046" nodeTypeAlias="homePage">
    <bodyText><![CDATA[<p>Donec vitae orci sed dolor rutrum auctor. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Proin magna. Curabitur suscipit suscipit tellus. Maecenas egestas arcu quis ligula mattis placerat.</p>
<p>Aenean vulputate eleifend tellus. Fusce a quam. Pellentesque ut neque. Vestibulum suscipit nulla quis orci. Sed a libero.</p>
<p>Praesent turpis. Morbi mollis tellus ac sapien. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum fringilla pede sit amet augue. Praesent nec nisl a purus blandit viverra.</p>
<p>Vivamus euismod mauris. Curabitur suscipit suscipit tellus. In consectetuer turpis ut velit. Ut leo. Donec sodales sagittis magna.</p>
<p>Phasellus ullamcorper ipsum rutrum nunc. Nulla porta dolor. In auctor lobortis lacus. Sed libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>]]></bodyText>
    <contact id="1058" key="2a31acda-41ff-4dea-81ce-57afb78c0333" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2017-04-12T15:26:28" updateDate="2017-04-12T15:26:34" nodeName="Contact" urlName="contact" path="-1,1057,1058" isDoc="" nodeType="1055" creatorName="Michel Miladinovic" writerName="Michel Miladinovic" writerID="0" template="1054" nodeTypeAlias="contact" />
    <textPage id="1059" key="cfca2e3d-03cb-4a0e-b92f-dd57bd60dfcf" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2017-04-12T15:26:58" updateDate="2017-04-12T15:26:58" nodeName="About" urlName="about" path="-1,1057,1059" isDoc="" nodeType="1050" creatorName="Michel Miladinovic" writerName="Michel Miladinovic" writerID="0" template="1049" nodeTypeAlias="textPage" />
  </homePage>
</root>